<div class="page">
  <div class="page__header">
    <div class="page__title">
      <nz-page-header nzTitle="Page Header" nzSubtitle="Patient Name"></nz-page-header>
    </div>

    <div class="page__actions">
      <button nz-button nzType="primary" (click)="openDrawer()">Πλήρες Ιστορικό</button>
      <button nz-button nzType="primary">Επικοινωνία</button>
    </div>
  </div>

  <div class="page__info">
    <nz-descriptions nzTitle="User Info" class="page__descriptions">
      <nz-descriptions-item nzTitle="UserName">Zhou Maomao</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Telephone">18100000000</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Live">Hangzhou, Zhejiang</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Remark">Empty</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
        No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
      </nz-descriptions-item>
    </nz-descriptions>
  </div>

  <div class="page__tabs">
    <nz-tabs class="tabs">
      <nz-tab nzTitle="Γενικές Οδηγίες">
        <div class="tabs__content">
          <app-general-instructions></app-general-instructions>
        </div>
      </nz-tab>
    </nz-tabs>
  </div>
</div>

