/* You can add global styles to this file, and also import other style files */
// @import "ng-zorro-antd/ng-zorro-antd.min.css";

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.custom-header {
    padding-left: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #C14646;
}

.custom-header-2 {
  color: #657787;
  font-size: 14;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: bold;
}

html, body {
    background: #F0F2F5;
}